<div class="my-3">
    <h5 [ngClass]="{'strike': !todo.active}">{{todo.title}}</h5>
    <p [ngClass]="{'strike': !todo.active}" class="mx-5">{{todo.desc}}</p>
    <!-- <p class="mx-5">{{todo.active}}</p> -->
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" (click)="onCheckBoxClick(todo)" [checked]="!todo.active">
        <label class="form-check-label" for="defaultCheck1">
          Done
        </label>
      </div>
    <button class="btn-sm btn btn-danger mx-5 my-2 " (click)="onClick(todo)">Delete</button>
</div>
